*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

html{    
    font-size: 62.5%;
}

header{
    background: #000000;
    /* width: 100vw; */
}

.anuncioEnvios{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* width: 100vw; */
    height: 47px;
    border-bottom: 1px solid rgb(94, 92, 92);    
}

.anuncioEnvios p{
    
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    
    color: #FFFFFF;
}

.barraDeNavegacion{
    /* width: 100vw; */
    height: 104px;  
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.logo{
    width: 177px;
    height: 44px;
    border-radius: 5px;
    background-image: url("../imagenes/arismendi_logo.png");
    background-size: cover;
}

.barraDeNavegacion nav{
    height: 50px;
    width: 40vw;
    margin-right: 26vw;
    margin-left: 4vw;
}

.barraDeNavegacion nav ul{
    display: flex;
    justify-content: space-around;
    color: white;    
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.barraDeNavegacion li{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: auto;
    height: auto;
}

.barraDeNavegacion nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;    
    text-decoration: none;
    text-transform: uppercase;
    width: 178px;
    height: 44px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
}

.barraDeNavegacion nav ul a::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, 
    rgba(242, 54, 3, 0.95) 7.29%, 
    rgba(247, 83, 39, 0.938831) 29.69%, 
    rgba(255, 95, 52, 0.93) 47.4%, 
    rgba(251, 86, 42, 0.935941) 78.65%, 
    rgba(242, 52, 0, 0.94) 100%);
    border-radius: 12px;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.barraDeNavegacion nav ul a:hover::before{
    opacity: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;    
    background: linear-gradient(180deg, 
    rgba(242, 54, 3, 0.95) 7.29%, 
    rgba(247, 83, 39, 0.938831) 29.69%, 
    rgba(255, 95, 52, 0.93) 47.4%, 
    rgba(251, 86, 42, 0.935941) 78.65%, 
    rgba(242, 52, 0, 0.94) 100%);
    border-radius: 12px;
    color: #FFFFFF;
    width: 178px;
    height: 44px;

}

.menuDesplegable{
    display: none;
}

/* #carouselArismendi{
    width: 100vw;
} */

.carousel-indicators > li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-item img{
    /* width: 100vw; */
    height: 645px;
}

.banner1{
    background-image: url("../imagenes/fondoBanner1.jpg");
    /* width: 100vw; */
    height: 645px;
    background-position: center;
    background-size: cover;
}
.banner2{
    background-image: url("../imagenes/fondoBanner2.jpg");
    /* width: 100vw; */
    height: 645px;
    background-position: center;
    background-size: cover;
}
.banner3{
    background-image: url("../imagenes/fondoBanner3.jpg");
    /* width: 100vw; */
    height: 645px;
    background-position: center;
    background-size: cover;
}

.carouselCaption {
    position: absolute;
    top: 48%;
    left: 8% ;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    text-align: center; 
}

.carouselCaption h5{
    width: 426px;
    height: 173px;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 99.8%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: start;
}

.carouselCaption p{
    position: absolute;
    top: 70%;
    left: 0% ;
    width: 275px;
    height: 73px;
    text-align: start;
}

.carouselCaption button{    
    top: 100%;
    left: 0% ;
    position: absolute;
    width: 208px;
    height: 39px;
    background-color: rgba(184, 175, 175, 0);
    border: 1.5px solid rgba(255, 255, 255, 0.97);
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.97);
    transition: 1s;
}

.carouselCaption button:hover{
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgba(0, 0, 0, 0.97);
}

.bannerDigitalizacion {
    position: absolute;
    top: 420px;
    left: 8% ;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    text-align: center; 
}

.bannerDigitalizacion h5{
    width: 42.6rem;
    height: 173px;
    font-style: normal;
    font-weight: bold;
    font-size: 5.8rem;
    line-height: 99.8%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: start;
}

.bannerDigitalizacion p{
    position: absolute;
    top: 120px;
    left: 0% ;
    width: 275px;
    height: 73px;
    text-align: start;
    font-size: 1.5rem;
}

.bannerDigitalizacion a{    
    top: 220px;
    left: 0% ;
    position: absolute;
    width: 208px;
    height: 39px;
    background-color: rgba(184, 175, 175, 0);
    border: 1.5px solid rgba(255, 255, 255, 0.97);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.97);
    transition: 1s;
}

.bannerDigitalizacion a:hover{
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgba(0, 0, 0, 0.97);
}

.home{
    /* width: 100vw; */
    /* height: 1040px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 2%;
    grid-template-areas: 
    "titulo     titulo"
    "imagen      audio"
    "imagen      digitalizacion"
    "imagen      historia";
    row-gap: 5vh;
    column-gap: 7vw;
    padding-bottom: 22vh;
}

.home .h1Mobile{
    display: none;
}

.home .h1Escritorio{
    height: 20vh;
    /* width: 100vw; */
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1Mobile{
    display: none;
}

.home h1 span{
    margin-top: 4px;
    height: 3.5px;
    width: 140px;
    border-bottom: 3.5px solid #DB522D;
    border-radius: 2px;
}

.home .imagenMain{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: imagen;
    background: url("../imagenes/ImagenProducto-home.png");
    width: 45vw;
    height: 80vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 7vw;
}

.home .audio{
    grid-area: audio;

}

.home .audio h3{
    width: 402px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 99.8%;
    color: #000000;
}

.home .audio p{
    width: 341px;
    height: 98px;
    margin-left: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100.8%;
    color: #000000;
}

.digitalizacion{
    grid-area: digitalizacion;
}

.digitalizacion h3{
    width: 402px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 99.8%;
    color: #000000;
}

.digitalizacion p{
    width: 294px;
    height: 67px;
    margin-left: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100.8%;
    color: #000000;
    margin-bottom: 1vh;
}

.historia{
    grid-area: historia;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historia button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 218px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: white;
    color: #DB522D;
    border: 2px solid #DB522D;
    border-radius: 8px;
    margin-left: 35px;
    margin-top: 0.5vh;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.historia button::before{
    position: absolute;
    width: 218px;
    height: 50px;
    content: "";   
    color: white;
    background: linear-gradient(180deg, #FF420F 0%, #FF683F 50.52%, rgba(255, 72, 22, 0.94) 100%);
    border-radius: 8px;
    z-index: -1;
    transition: all 0.5s linear;
    opacity: 0;
}

.historia button:hover::before{
    opacity: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;    
    background: linear-gradient(180deg, #FF420F 0%, #FF683F 50.52%, rgba(255, 72, 22, 0.94) 100%);
    border-radius: 8px;
    color: #FFFFFF ;
    width: 218px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.historia button:hover{
    color: white;
}

.historia h3{
    width: 402px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 99.8%;
    color: #000000;
}

.historia p{
    width: 339px;
    height: 134px;
    margin-left: 35px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100.8%;
    color: #000000;
}

.historia span, 
.digitalizacion span, 
.audio span{
    padding-right: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 221px;
    line-height: 1;
    /* width: 100vw; */
    background: #000000;
    color: #FFFFFF;
}

footer .direccion{
    margin-right: 55vw;
    width: 220px;
    height: 50px;

    font-style: normal;
    font-weight: 500;
    line-height: 8px;

    color: #FFFFFF;
    padding-top: 0;
}

footer .direccion span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
}


.redes a{
    color: white;
    transition: all 0.5s;    
    line-height: 0;
    margin-top: 10px;
}



.redes a:hover{
    color: #d36d51d2;
}

.navegacion, .redes, .direccion{
    margin-top: 50px;
    font-size: 16px;
}

.navegacion{
    line-height: 12px;
    margin-left: 1vw;
}

.navegacion h6{
    font-size: 16px;
}

.navegacion p a{
    text-decoration: underline !important;
    color: white;
    transition: 1s;
}

.navegacion p a:hover{
    text-decoration: none !important;
    color: white;
}

/*------------Digitalizacion-----------------*/

.seccionDigitalizacion{
    padding: 5rem 0;
    height: auto;
    /* width: 100vw; */
    /* grid-template-columns: repeat(4,323px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s;
}

.seccionDigitalizacion > p{
    display: none;
}


.seccionDigitalizacion .card{
    width: 32.3rem;
    height: 45.7rem;
    background: #C4C4C4;
    border-radius: 8px;
    padding: 0;
    flex: 1 1 32.3rem;
    flex: 0 1 32.3rem;

}

.seccionDigitalizacion .card .card-footer p{
    font-size: 16px;
    font-weight: normal;

}

.seccionDigitalizacion .card .card-img-top{
    margin: 10px;
    width: 30rem;
    height: 31.4rem;
    border-radius: 8px 8px 0 0;
}


/*------------Equipo de Dj-----------------*/

.seccionEquipoDeDj, .seccionCarAudio{
    display: flex;
    align-items: flex-start;
    padding: 0 2vw;
}

/*----------------Contenido-------------*/
.contenido{
    padding: 5rem 0;
    height: auto;
    /* width: 100vw; */
    /* grid-template-columns: repeat(4,323px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s;
}


.contenido .card, .contenido .products-card{
    width: 32.3rem;
    height: 51rem;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0;
    flex: 1 1 32.3rem;
    flex: 0 1 32.3rem;    
    border: 0.5px solid rgba(141, 141, 141, 0.94);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.card-body{
    padding: 21px 30px;
}

.contenido .products-card > .card-footer{
    background: #FFFFFF;
    border: none;
    padding: 0;
    padding-left: 30px;
}

.contenido .products-card  .card-title{
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.83);

}

.contenido .products-card .titulo{
    font-size: 20px;
    line-height: 23px;    
}

.contenido .products-card .card-img-top{
    border-radius: 8px 8px 0 0;
    width: 32.2rem;
    height: 32.5rem;
}

.card:hover, .products-card:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 5px gray;
  }

/*--------- Consultar Precio -------------*/

.consultaPrecio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.consultaPrecio_boton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 199px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #502AA2;
    text-align: center;
    background-color: white;
    border: 2px solid #502AA2;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}

.consultaPrecio_boton::before{
    position: absolute;
    content: "";
    z-index: -1;
    opacity: 0;
    border-radius: 8px;
    background: linear-gradient(180deg, #591CDC 0%, rgba(84, 42, 175, 0.91) 45.83%, #4E3A7A 100%);
    transition: all 0.5s ease;
}

.consultaPrecio_boton:hover::before{
    opacity: 1;
    background: linear-gradient(180deg, #591CDC 0%, rgba(84, 42, 175, 0.91) 45.83%, #4E3A7A 100%);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;    
    width: 199px;
    height: 50px;
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.25));
}

.consultaPrecio_boton:hover{
    color: #FFFFFF;
    border-radius: 8px;
}


.consultaPrecio_texto{
    width: 270px;
    height: 98px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 114.8%;
    flex: 1 1 270px;
    flex: 0 1 270px;
    margin-right: 20px;
}


/*------------------ Car Audio-------------------*/



.bannerCarAudio h5{    
    width: 563px;
    height: 110px;   
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 99.8%;    
    text-transform: uppercase;    
    color: #FFFFFF;
    text-align: start;
}


.bannerCarAudio a{    
    top: 110%;
    left: 0% ;
    position: absolute;
    width: 208px;
    height: 39px;
    background-color: rgba(184, 175, 175, 0);
    border: 1.5px solid rgba(255, 255, 255, 0.97);    
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.97);
    text-decoration: none;
    transition: 1s;

}

.bannerCarAudio a:hover{
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgba(0, 0, 0, 0.97);
}


/*------------------Car Audio & Equipo De DJ-------------------*/

.bannerEquipoDj, .bannerCarAudio {
    position: absolute;
    top: 70%;
    left: 8% ;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    text-align: center; 
}

.bannerEquipoDj h5{    
    width: 300px;
    height: 110px;   
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 99.8%;    
    text-transform: uppercase;    
    color: #FFFFFF;
    text-align: start;
}

.bannerEquipoDj a{    
    top: 110%;
    left: 0% ;
    position: absolute;
    width: 208px;
    height: 39px;
    background-color: rgba(184, 175, 175, 0);
    border: 1.5px solid rgba(255, 255, 255, 0.97);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.97);
    transition: 1s;
}

.bannerEquipoDj a:hover{
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgba(0, 0, 0, 0.97);
}



/*------------- Filtros -------------------*/


.filtros{
    padding: 5rem 2vw 7vh 1vw;
}

.borrarFiltros{    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(219, 82, 45, 0.97);
    border: 1px solid rgba(219, 82, 45, 0.97);
    border-radius: 8px;
    height: 31px;
    max-width: 116px;
    font-size: 12px;
}

.collapse:not(.show){
    display: block ;
}

.buscarFiltros{
    font-size: 16px;
    max-width: 210px;
    height: 37px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    background: #000000;
    border-radius: 8px;
    color: #D7D7D7;
}

.buscarFiltros:hover{
    color: white;
}

.selectores{
    height: 33px;
    max-width: 178px;   
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.62);
}

.h5{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

#filtros{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: flex-end;
}

#filtros > svg {
    display: none;
}

.form-group{
    width: 210px;
}



  @media only screen and (max-width: 1100px) {

       /*----------------------- Footer ---------------------------*/

    footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 119px;
        /* width: 100vw; */
        background: #000000;
        color: #FFFFFF;
    }
    
    footer .direccion{
        margin-right: 0;
        width: 200px;
        height: 31px;    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100.8%;    
        color: #FFFFFF;
        padding-top: 0;
    }
    
    footer .direccion span{
        display: block;
    }

    footer .direccion p{
        margin: 0;
    }

    .redes{
        width: 121px;
        height: 58px;
        font-size: 1.6rem;
    }
    
    .redes a{
        margin-top: 10px;
        margin-right: 0 !important;
        color: white;
        transition: 0.5s;
    }
    
    
    .redes, .direccion, .navegacion{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    
} 

@media only screen and (max-width: 992px) {



    .barraDeNavegacion{
        justify-content: center;
    }

    .logo{
        width: 140px;
        height: 35px;
        border-radius: 5px;
        background-image: url("../imagenes/arismendi_logo.png");
        background-size: cover;
    }

    .barraDeNavegacion nav{
        height: 50px;
        width: 60vw;
        margin-right: 4vw;
        margin-left: 4vw;
    }
    
    .barraDeNavegacion nav ul{
        display: flex;
        justify-content: space-around;
        color: white;    
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
    }
    
    .barraDeNavegacion li{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: auto;
        height: auto;
    }
    
    .barraDeNavegacion nav ul a{
        display: flex;
        justify-content: center;
        align-items: center;  
        color: white;    
        text-decoration: none;
        text-transform: uppercase;
        width: 140px;
        height: 44px;
        border-radius: 12px;
        position: relative;
        z-index: 1;
    }
    
    .barraDeNavegacion nav ul a::before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, 
        rgba(242, 54, 3, 0.95) 7.29%, 
        rgba(247, 83, 39, 0.938831) 29.69%, 
        rgba(255, 95, 52, 0.93) 47.4%, 
        rgba(251, 86, 42, 0.935941) 78.65%, 
        rgba(242, 52, 0, 0.94) 100%);
        border-radius: 12px;
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
    }
    
    .barraDeNavegacion nav ul a:hover::before{
        opacity: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        text-align: center;    
        background: linear-gradient(180deg, 
        rgba(242, 54, 3, 0.95) 7.29%, 
        rgba(247, 83, 39, 0.938831) 29.69%, 
        rgba(255, 95, 52, 0.93) 47.4%, 
        rgba(251, 86, 42, 0.935941) 78.65%, 
        rgba(242, 52, 0, 0.94) 100%);
        border-radius: 12px;
        color: #FFFFFF;
        width: 140px;
        height: 44px;
    
    }


    /*----------------Home----------------*/

    .home{
        /* width: 100vw; */
        height: 750px;
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows:2fr 1fr 1fr 1fr;
        grid-gap: 2%;
        grid-template-areas: 
        "titulo"
        "audio"
        "digitalizacion"
        "historia";
        padding-bottom: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .h1Escritorio{
        display: none;
    }
    
    .home .h1Mobile{
        height: 21vh;
        /* width: 100vw; */
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home h1 span{
        margin-top: 4px;
        height: 3.5px;
        width: 140px;
        border-bottom: 3.5px solid #DB522D;
        border-radius: 2px;
    }
    
    .home .imagenMain{
        display: none;        
    }
    
    .home .audio{
        grid-area: audio;    
    }
    
    .home .audio h3{
        width: 268px;
        height: 27px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 99.8%;
        color: #000000;
    }
    
    .home .audio p{
        width: 268px;
        height: 114px;
        margin-left: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }
    
    .digitalizacion{
        grid-area: digitalizacion;
    }
    
    .digitalizacion h3{
        width: 268px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 107.8%;
        color: #000000;
    }
    
    .digitalizacion p{
        width: 271px;
        height: 67px;
        margin-left: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
        margin-bottom: 1vh;
    }
    
    .historia{
        grid-area: historia;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .historia button{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 218px;
        height: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        background-color: white;
        color: #DB522D;
        border: 2px solid #DB522D;
        border-radius: 8px;
        margin-left: 35px;
        margin-top: 0.5vh;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
    }
    
    .historia button::before{
        position: absolute;
        width: 218px;
        height: 50px;
        content: "";   
        color: white;
        background: linear-gradient(180deg, #FF420F 0%, #FF683F 50.52%, rgba(255, 72, 22, 0.94) 100%);
        border-radius: 8px;
        z-index: -1;
        transition: all 0.5s linear;
        opacity: 0;
    }
    
    .historia button:hover::before{
        opacity: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;    
        background: linear-gradient(180deg, #FF420F 0%, #FF683F 50.52%, rgba(255, 72, 22, 0.94) 100%);
        border-radius: 8px;
        color: #FFFFFF ;
        width: 218px;
        height: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    }
    
    .historia button:hover{
        color: white;
    }    
    
    .historia h3{
        width: 267px;
        height: 28px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 99.8%;
        color: #000000;
    }
    
    .historia p{
        width: 267px;
        height: 113px;
        margin-left: 35px;
        margin-bottom: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }
    
    .historia span, 
    .digitalizacion span, 
    .audio span{
        padding-right: 10px;
    }

       /*----------------------- Footer ---------------------------*/

    footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 119px;
        /* width: 100vw; */
        background: #000000;
        color: #FFFFFF;
    }
    
    footer .direccion{
        margin-right: 0;
        width: 200px;
        height: 31px;    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100.8%;    
        color: #FFFFFF;
        padding-top: 0;
    }
    
    footer .direccion span{
        display: block;
    }

    footer .direccion p{
        margin: 0;
    }

    .redes{
        width: 121px;
        height: 58px;
        font-size: 1.6rem;
    }
    
    .redes a{
        margin-top: 10px;
        margin-right: 0 !important;
        color: white;
        transition: 0.5s;
    }
    
    
    .redes, .direccion, .navegacion{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .contenedor-loader{
        display: none;
    }
    
} 

@media only screen and (max-width: 767px) {


    .barraDeNavegacion{
        justify-content: center;
    }

    .logo{
        width: 130px;
        height: 30px;
        border-radius: 5px;
        background-image: url("../imagenes/arismendi_logo.png");
        background-size: cover;
    }

    .barraDeNavegacion nav{
        height: 50px;
        width: 65vw;
        margin-right: 4vw;
        margin-left: 4vw;
    }
    
    .barraDeNavegacion nav ul{
        display: flex;
        justify-content: space-around;
        color: white;    
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
    }
    
    .barraDeNavegacion li{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: auto;
        height: auto;
    }
    
    .barraDeNavegacion nav ul a{
        display: flex;
        justify-content: center;
        align-items: center;  
        color: white;    
        text-decoration: none;
        text-transform: uppercase;
        width: 140px;
        height: 44px;
        border-radius: 12px;
        position: relative;
        z-index: 1;
    }
    
    .barraDeNavegacion nav ul a::before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, 
        rgba(242, 54, 3, 0.95) 7.29%, 
        rgba(247, 83, 39, 0.938831) 29.69%, 
        rgba(255, 95, 52, 0.93) 47.4%, 
        rgba(251, 86, 42, 0.935941) 78.65%, 
        rgba(242, 52, 0, 0.94) 100%);
        border-radius: 12px;
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
    }
    
    .barraDeNavegacion nav ul a:hover::before{
        opacity: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        text-align: center;    
        background: linear-gradient(180deg, 
        rgba(242, 54, 3, 0.95) 7.29%, 
        rgba(247, 83, 39, 0.938831) 29.69%, 
        rgba(255, 95, 52, 0.93) 47.4%, 
        rgba(251, 86, 42, 0.935941) 78.65%, 
        rgba(242, 52, 0, 0.94) 100%);
        border-radius: 12px;
        color: #FFFFFF;
        width: 140px;
        height: 44px;
    
    }

    /*----------Texto Banner---------*/
    
    .bannerCarAudio h5 > span{
        display: none;
    }

    .bannerEquipoDj a,.bannerCarAudio a, .bannerDigitalizacion a{
        display: none;
    }

    /*------------Filtros-----------*/
    
    .seccionEquipoDeDj .filtros, .seccionCarAudio .filtros{
        width: 90vw;
    }
    .seccionEquipoDeDj, .seccionCarAudio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtros{
        padding:3vh 0 2vh 4vw;
        width: 323px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 323px;
    }

    .collapse:not(.show){
        display: none ;
    }

    .form-group{
        width: 178px;
    }

   

    .contenido{
        padding: 0;
    }

    .borrarFiltros{
        width: 200px;
    }

    #filtros > svg {
        display: block;
    }

    
} 

@media only screen and (max-width: 576px) {

    .barraDeNavegacion, .anuncioEnvios{
        display: none;
    }
    .menuDesplegable{
        display: visible;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 98;
        height: 56px;
        width: 100vw;
        background: #F75E34;
        position: fixed;
    }
    .menuDesplegable a{
        height: 44px;
        width: 177px;
        margin-left: 25vw;
    }

   
    .carouselCaption {
        position: absolute;
        top: 460px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center; 
    }
    
    .carouselCaption h5{      
        width: 276px;
        height: 56px;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 99.8%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: start;
        text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.27);
    }
    
    .carouselCaption p{
        display: none;
    }
    
    .carouselCaption button{    
        display: none;
    }   

    .banner2{
        background-image: url("../imagenes/bannerMobileDigitalizacion.png");
        background-size: cover;        
        width: 100vw;
        height: 645px;
        min-width: 100%;
        background-position: center;
    }

    .banner1, .banner3{
        background-image: url("../imagenes/bannerMobileHome.png");
        background-size: cover;        
        width: 100vw;
        height: 645px;
        min-width: 100%;
        background-position: center;
    }

    /*--------------------- Digitalizacion ------------------------*/
    .seccionDigitalizacion{
        padding: 3rem 0;
        height: auto;
        /* width: 100vw; */
        /* grid-template-columns: repeat(4,323px); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: all 0.5s;
        min-width: 370px;
    }

    .bannerDigitalizacion {
        position: absolute;
        top: 560px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center; 
    }
    
    .bannerDigitalizacion h5{
        width: 276px;
        height: 56px;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 99.8%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: start;
        text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.27);
    }

    .seccionDigitalizacion > p{
        display: block;       
        width: 275px;
        height: 73px;
        text-align: start;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    .bannerDigitalizacion p{
        display: none;
    }
    
    .bannerDigitalizacion button{  
       display: none;
    }

    .consultaPrecio_texto{
        text-align: center;
    }

    

    .consultaPrecio{
        min-width: 370px;
    }

    /*------------------ Car Audio-------------------*/
    body{
        min-width: 370px;
    }

    .bannerCarAudio {        
        position: absolute;
        top: 560px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center; 
    }

    .bannerCarAudio h5{
        width: 276px;
        height: 56px;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 99.8%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: start;
        text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.27);
    }

    .bannerCarAudio h5 > span{
        display: none;
    }

    .bannerCarAudio button{    
        display: none;
    }


/*------------------ Equipo De DJ-------------------*/

    .bannerEquipoDj {
        position: absolute;
        top: 560px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center;  
    }

    .bannerEquipoDj h5{    
        width: 320px;
        height: 56px;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 99.8%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: start;
        text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.27);
    }

    .bannerEquipoDj h5 > span{
        display: none;
    }

    .bannerEquipoDj button{    
        display: none;
    }

    .seccionEquipoDeDj, .seccionCarAudio{
        display: flex;
        flex-direction: column;
        align-items: center;        
        min-width: 370px;
    }

    .collapse:not(.show){
        display: none ;
    }

    .filtros{
        padding:3vh 0 2vh 4vw;
        width: 323px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 323px;
    }

    .form-group{
        width: 178px;
    }

    .borrarFiltros{
        width: 140px;
    }

    .contenido{
        padding: 0;
    }

    /*---------------------------Home-------------------------------*/

    .home{
        /* width: 100vw; */
        height: 750px;
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows:2fr 1fr 1fr 1fr;
        grid-gap: 2%;
        grid-template-areas: 
        "titulo"
        "audio"
        "digitalizacion"
        "historia";
        padding-bottom: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .h1Escritorio{
        display: none;
    }
    
    .home .h1Mobile{
        height: 21vh;
        /* width: 100vw; */
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home h1 span{
        margin-top: 4px;
        height: 3.5px;
        width: 140px;
        border-bottom: 3.5px solid #DB522D;
        border-radius: 2px;
    }
    
    .home .imagenMain{
        display: none;        
    }
    
    .home .audio{
        grid-area: audio;    
    }
    
    .home .audio h3{
        width: 268px;
        height: 27px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 99.8%;
        color: #000000;
    }
    
    .home .audio p{
        width: 268px;
        height: 114px;
        margin-left: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }
    
    .digitalizacion{
        grid-area: digitalizacion;
    }
    
    .digitalizacion h3{
        width: 268px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 107.8%;
        color: #000000;
    }
    
    .digitalizacion p{
        width: 271px;
        height: 67px;
        margin-left: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
        margin-bottom: 1vh;
    }
    
    .historia{
        grid-area: historia;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .historia button{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 218px;
        height: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        background-color: white;
        color: #DB522D;
        border: 2px solid #DB522D;
        border-radius: 8px;
        margin-left: 35px;
        margin-top: 0.5vh;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
    }
    
    .historia button::before{
        position: absolute;
        width: 218px;
        height: 50px;
        content: "";   
        color: white;
        background: linear-gradient(180deg, #FF420F 0%, #FF683F 50.52%, rgba(255, 72, 22, 0.94) 100%);
        border-radius: 8px;
        z-index: -1;
        transition: all 0.5s linear;
        opacity: 0;
    }
    
    .historia button:hover::before{
        opacity: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;    
        background: linear-gradient(180deg, #FF420F 0%, #FF683F 50.52%, rgba(255, 72, 22, 0.94) 100%);
        border-radius: 8px;
        color: #FFFFFF ;
        width: 218px;
        height: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    }
    
    .historia button:hover{
        color: white;
    }    
    
    .historia h3{
        width: 267px;
        height: 28px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 99.8%;
        color: #000000;
    }
    
    .historia p{
        width: 267px;
        height: 113px;
        margin-left: 35px;
        margin-bottom: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }
    
    .historia span, 
    .digitalizacion span, 
    .audio span{
        padding-right: 12px;
    }

    /*----------------------- Footer ---------------------------*/

    footer{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 119px;
        /* width: 100vw; */
        background: #000000;
        color: #FFFFFF;        
        min-width: 370px;
    }
    
    footer .direccion{
        margin-right: 0;
        width: 162px;
        height: 31px;    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100.8%;    
        color: #FFFFFF;
        padding-top: 0;
    }
    
    footer .direccion span{
        display: none;
    }

    footer .direccion p{
        margin: 0;
    }

    .redes{
        width: 121px;
        height: 58px;
        font-size: 1.6rem;
    }
    
    .redes a{
        margin-top: 10px;
        margin-right: 0 !important;
        color: white;
        transition: 0.5s;
    }    
    
    .redes, .direccion{
        margin-top: 0;
        margin-bottom: 41px;
    }
    
    .navegacion{
        display: none;
    }
    
    

}

@media only screen and (max-width: 415px) {

   
    .barraDeNavegacion, .anuncioEnvios{
        display: none;
    }
    .menuDesplegable{
        display: visible;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 98;
        height: 56px;
        width: 100vw;
        background: #F75E34;
        position: fixed;
        min-width: 370px;
    }

    .menuDesplegable a{
        height: 44px;
        width: 177px;
        margin-left: 15vw;
    }

    .banner2{
        background-image: url("../imagenes/bannerMobileDigitalizacion.png");
        background-size: cover;        
        width: 100vw;
        height: 581px;
        min-width: 370px;
        background-position: center;
    }

    .banner1, .banner3{
        background-image: url("../imagenes/bannerMobileHome.png");
        background-size: cover;        
        width: 100vw;
        height: 581px;
        min-width: 370px;
        background-position: center;
    }

    /*------------------Digitalizacion---------------------*/

    .bannerDigitalizacion {
        position: absolute;
        top: 490px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center;
    }

       /*------------------ Car Audio-------------------*/

       .bannerCarAudio {        
        position: absolute;
        top: 510px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center;
    }


/*------------------ Equipo De DJ-------------------*/

    .bannerEquipoDj {
        position: absolute;
        top: 510px;
        left: 8% ;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: white;
        text-align: center;  
    }
    
}






/* ---------------- Menu lateral ------------------- */


.sidepanel {
    height: 100vh; 
    width: 0; 
    position: fixed; 
    z-index: 99; 
    top: 0;
    left: 0;
    background-color: #F75E34; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .mySidepanel_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7vh;
  }

  .mySidepanel_logo a{
    position: absolute;
    top: 6px;
    left:15%;
    height: 44px !important;
    width: 177px;
    margin-left: 15vw;
    padding: 8px 8px 8px 19px;
}

.sidepanel a {
    padding: 0 8px 0 19px;
    text-decoration: none;
    font-size: 25px;
    height: 48px;
    color: white;
    display: block;
    transition: 0.3s;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}

  .sidepanel a svg{
      margin-right: 7vw;
  }
  
 
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  
 
  .sidepanel .closebtn {
    padding: 20px 8px 8px 23px;
    height: 20px ;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    margin-left: 0px;
  }
 
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #F75E34;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .item-menu{
      width: 300px;
  }

  /*------------------------ Loader 2 ------------------ */
.loader-2 {
    display: block;
      height: 32px;
      width: 32px;
      -webkit-animation: loader-2-1 3s linear infinite;
              animation: loader-2-1 3s linear infinite;
  }
  @-webkit-keyframes loader-2-1 {
      0%   { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes loader-2-1 {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  .loader-2 span {
      display: block;
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
      clip: rect(16px, 32px, 32px, 0);
      -webkit-animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
              animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }
  @-webkit-keyframes loader-2-2 {
      0%   { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes loader-2-2 {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  .loader-2 span::before {
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
      border: 3px solid transparent;
      border-top: 3px solid rgb(100, 35, 35);
      border-radius: 50%;
      -webkit-animation: loader-2-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
              animation: loader-2-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }
  @-webkit-keyframes loader-2-3 {
      0%   { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes loader-2-3 {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  .loader-2 span::after {
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
      border: 3px solid #5A1CDC;
      border-radius: 50%;
  }

  .contenedor-loader{
      position: relative;
      top: 10vh;
      left: 30vw;
  }
  

